

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/htmx.org@1.9.11" integrity="sha384-0gxUXCCR8yv9FM2b+U3FDbsKthCI66oH5IA9fHppQq9DDMHuMauqq1ZHBpJxQ0J0" crossorigin="anonymous"></script>

</head>
<body>
    <h3>    CHUPA  ITALO </h3>
    <br>
    <h3 hx-get="/visualiza" hx-trigger="every 0.1s"></h3>
    <br>
    <button hx-post="/decrementa" hx-swap="none">
        DIMINUI
     </button>

    <button hx-post="/incrementa" hx-swap="none">
       AUMENTA 
    </button>

     
</body>
</html>